body {
    background-image: url("image/bg-body.jpg");
}

.scroller {
    height: 100vh;
}

header {
    background-image: url('image/2.jpg');
}
* {
    margin:0; 
    padding:0;}
    .logo {
        text-align: center;
    }
.logo h1 {
    display: inline-block;
    user-select: none;
    height: 300px;
    color: white;
    font-size: 172px;
    margin: 0;
    text-align: center;
    font-family: 'Stencil', arial !important; 
    font-weight: 100;
    line-height: 0.7em;
    padding-top: 25px;
}

.logo a {
    color: white;
    text-decoration: none;
    background-image: url(https://media.giphy.com/media/l0MYwXxKiwW39Dwcw/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    }
.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    word-spacing: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    color:#fff; 
    height:100px; 
    letter-spacing:2px; 
    width:100%;
}
.menu a {
    padding: 20px 10px;
    color: white;
    text-decoration: none;
    font-size: 4vw;
    font-family: 'Oswald', sans-serif;
}
.menu a:hover {
    transition: 0.5s;
    border-bottom: 5px solid #195E01;
}
*, 
*:before, 
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .date {
    color: white;
}
.slider img {
    width: 80%;
   height: 900px;
}
.row {   
    margin: 0 !important; 
}

/*footer*/
.block {
    font-size: 25px;
    padding: 10px 0;
}
.contact-footer {
    color: white;
    padding: 30px 0;
   /* font-family: 'Cookie', cursive; */
   font-family: 'Oswald', sans-serif;
}
.contact-footer img{
    height: 30px;
    width: 30px;
    float: left;
    margin: 0 10px 0 0;
}
.contact-footer a {
    color: white;
    text-decoration: none; 
    white-space: nowrap; 
}
.header-contact-footer{
    text-align: center;
    padding-bottom: 20px;
}
.row-contact-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.row-style-header{
    text-align: center;
    font-size: 25px;
}
.number-phone,
.social-networks,
.adress {
    margin: 0 50px;
}
.center-block {
    padding-left: 20px;
}
.block p {
    font-size: 20px;
}
.block span {
    padding: 0;
    font-size: 18px;
}
.block p:hover{
    color: #289404;
}
.block p:active{
    color: #289404;
}
.number-phone img {
    position: relative;
    top: 10px;
}
.adress-block {
    padding-right: 30px;
}
/*page services */
/* block 1 */
.services-menu-dark {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    background-color: #0f0f0f;
    /*font-family: 'Open Sans Condensed', sans-serif;*/
    /*font-family: 'Bad Script', cursive;*/
    font-family: 'Cuprum', sans-serif;
}
.list-services-menu {
    padding: 70px 20px;
}
.list-services-menu li {
    list-style: none;
    font-size: 23px;
line-height: 1.7;
}
.list-services-menu ul a {
    list-style: none;
    text-decoration: none;
    color: white;
}
.list-services-menu ul a:active {
    color: #289404;
}
.list-services-menu ul a:hover{
    color: #289404;
}
.list-services-menu ul a::before{
    content: '►';
    width: 20px;
    color: #289404;
    padding-right: 5px;
}
.img-top {
    width:400px;
    height: 150px;
    position: relative;
    left: 30px;
}
.page-services-menu h1 {
    text-align: center;
    padding: 25px 0 25px 0;
    border-top: 2px white solid;
    border-bottom: 2px white solid;
}
.img-bot {
    height: 130px;
    width: 450px;
}

/* block 2 */
.hairdressing-services {
    text-align: center;
}
.hairdressing-services img {
    height: 200px;
    width: 200px;
}
.women-hairdressing-services, 
.men-hairdressing-services {
    margin: 0 50px;
}
.women-hairdressing-services h2, 
.men-hairdressing-services h2 {
    padding: 15px 0 20px 0;
}


/* block 3 */
.first-block-cosmetology {
    padding-right: 20px;
}
.second-block-cosmetology {
    padding-left: 30px;
    margin-left: 0;
}
.menu-cosmetology-services ul li::before {
    content: '✔';
    width: 20px;
    color: #289404;
    padding-right: 5px;
} 

/* block 4*/
.menu-beauty-injections ul li::before {
    content: '✔';
    width: 20px;
    color: #289404;
    padding-right: 5px;
}
.first-block-beauty-injections ul li{
    padding-left: 50px;
    margin-left: 20px;
}
.second-block-beauty-injections ul li{
    padding-right: 129px;
    margin: 0 20px 0 20px;
}
/* block 5 */
.sugaring-text {
    text-align: center;
}
.sugaring-image img {
    margin: 0 40px;
    height: 200px;
    width: 200px;
}

.services-menu.block-five .about-sugaring,
.services-menu.block-five .about-wax {
    flex: 1 1 300px;
    margin: 0;
    padding: 0 25px;
    text-align: left;
}

.about-sugaring p,
.about-wax p {
    font-size: 20px;
    line-height: 1.7;
}

/* block 6 */
.sub-list  {
   padding-left: 50px;
}
/* block 7*/
.make h2 {
    text-align: center;
}
.make img {
    margin: 20px 20px;
    height: 200px;
    width: 200px;
}

/* block 8 */
.apparatus  {
    text-align: center;
}
.apparatus img {
    
    height: 200px;
    width: 200px;
}
/* block 9*/
.manicure {
    margin: 20px 20px;
    height: 200px;
    width: 200px; 
}

/* до всіх блоків */
.services-menu {
    /*font-family: 'Open Sans Condensed', sans-serif;*/
   /* font-family: 'Bad Script', cursive; */
   font-family: 'Cuprum', sans-serif;
    padding: 50px 0 50px 0;
}
.block-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.block-two, 
.block-four,
.block-six,
.block-eight {
    color: black;
    background-color: #EAEAEA;
}
.block-three, 
.block-five,
.block-seven,
.block-nine {
    color: white;
    background-color: #0f0f0f;
}
.title-pages {
    text-align: center;
    padding: 0 5px 25px 25px;
}
.row-pages-left{
    margin-right: 20px;
}
.row-pages-right {
    margin-left: 20px;
}
.block-flex ul li {
    list-style: none;
    text-align: left;
    font-size: 20px;
    padding: 5px 0;
}
.block-flex ul li::before{
    content: '✔';
    width: 20px;
    color: #289404;
    padding-right: 5px;
}
.block-flex .sub-list li::before{
    content: '-';
    width: 20px;
    color: black;
    padding-right: 5px;
}

/* study */
.menu-study {
    background-color: #0f0f0f;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    /*font-family: 'Bad Script', cursive;*/
    font-family: 'Cuprum', sans-serif;
}
.menu-study ul li {
    list-style: none;
}
.menu-study ul li a {
    line-height: 1.7;
    text-decoration: none;
    color: white;
    font-size: 23px;
}
.menu-study ul li::before{
    content: '►';
    width: 20px;
    color: #289404;
    padding-right: 5px;
}
.study .study-image-wrapper-box {
    margin-top: 50px;
}
.study {
    padding: 10px 20px;
    text-align: center;
}
.study-cosmetology {
    padding: 10px 20px;
}
.menu-study ul a:hover{
    color: #289404;
}
.text-left-block-center li{
    display: block;
 }
 .text-left-block-center ul {
     display: inline-block;
     text-align: left;
     padding-left: 170px;
 }
/* block 2-study */

/* block 3-study*/
.doc-text ul li {
    padding: 0 20px;
}
/* block 4-study*/
.block-study-four .list-style {
    flex: 0 1 300px;
}
/* block 5-study*/
.header-advantages a {
    text-decoration: none;
    color: white;
}
/* block 6-study */
/* block 7-study */
/* block 8-study */
/* block 9-study */
/* block 10-study */
/* block 11-study */
.text-massage  li{
    display: block;
}
.text-massage ul {
    display: inline-block;
    text-align: left;
    padding: 0 55px;
}
/* block 12-study */
/* block 13-study */
img.size-img.img-center {
     margin: 0 55px;;
}
/* block 14-study */
/* block 15-study */
.text-cosmetic ul li {
    padding-right: 30px;
}
/* block 16-study */

/* до всіх блоків навчання */
.block-study-two,
.block-study-four,
.block-study-six,
.block-study-eight,
.block-study-ten,
.block-study-twelve,
.block-study-fourteen,
.block-study-sixteen {
    padding: 20px 0;
    text-align: center;
    background-color: #EAEAEA;
    color: black;
    /*font-family: 'Bad Script', cursive;*/
    font-family: 'Cuprum', sans-serif;
}
.block-study-three,
.block-study-five,
.block-study-seven,
.block-study-nine,
.block-study-eleven,
.block-study-thirteen,
.block-study-fifteen {
    padding: 20px 0;
    text-align: center;
    background-color: #0f0f0f;
    color: white;
   /* font-family: 'Bad Script', cursive;*/
   font-family: 'Cuprum', sans-serif;
}
.row-doc {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.row-left,
.row-right,
.row-center {
    text-align: left;
    padding: 10px 20px;
}
.text-center {
    text-align: center;
}
.list-style ul li {
    font-size: 22px;
    list-style: none;
    line-height: 1.7;
}
.list-style ul li::before {
    content: '✔';
    width: 20px;
    color: #289404;
    padding-right: 5px;
}
.size-img {
    height: 200px;
    width: 200px;
    margin: 0 20px;
}

.image-wrapper-for-centering {
    text-align: center;
}

.block-study-seven .list-style,
.block-study-eight .list-style,
.block-study-ten .list-style {
    flex: 1 1 300px;
}

.block-study-seven .row-doc,
.block-study-eight .row-doc,
.block-study-ten .row-doc {
    margin: auto;
    max-width: 1000px;
}


@media screen and (min-width: 768px) {
    .menu a {
       font-size: 30px;
    }
  }

/*
щоб зробити блок по центру а текст по ліву сторону
*/

.list-style.advantages li {
    display: block;
}

.list-style.advantages ul {
    display: inline-block;
    text-align: left;
    padding: 0 5px 0 25px;
}

/*
щоб зробити блок по центру а текст по ліву сторону
*/


.active-menu-item {
    transition: 0.5s;
    border-bottom: 5px solid #195E01;
}

.scroller .mCSB_inside > .mCSB_container {
    margin-right: 0;
}







@media only screen and (max-width: 768px) { 
    .logo h1 {
        font-size: 88px;
        height: 190px;
        font-family: 'Allerta Stencil', sans-serif !important;
        font-weight: bold;
    }
    
    nav .menu {
        height: 60px;
    }
    .menu a {
        padding: 15px 5px;
        color: white;
        text-decoration: none;
        font-size: 5vw;
        font-family: 'Oswald', sans-serif;
    }
    .for-who li{
        display: block;
    }
    .for-who ul {
        display: inline-block;
        text-align: left;
        padding: 0 10px 0 20px;
    }
    .page-services-menu .img-top {
        width: 316px;
        height: 110px;
        position: relative;
        left: 20px;
    }
    .page-services-menu .img-bot {
        height: 102px;
        width: 350px;
        /* margin: 0 50px; */
    }

    .study .text-left-block-center ul {
        padding: 0;
    }

    .study .study-image-wrapper-box {
        margin-top: 0;
    }

    .study-cosmetology h1 {
        text-align: center;
    }

    .block-study-three .img-wrapper {
        width: 100%;
        text-align: center;
    }

    .block-study-thirteen .row-left {
        width: 100%;
    }
    .block-study-four .row-right{
        padding-top: 0;
    }
    .block-study-four .row-left {
        padding-bottom: 0;
    }
    .block-study-seven .list-style,
    .block-study-eight .list-style,
    .block-study-ten .list-style,
    .block-study-fifteen .row-left {
        padding: 0 20px;
    }
    .block-study-fifteen .list-style {
        text-align: center;
    }
    .block-study-fifteen .list-style ul {
        text-align: left;
    }
    .menu-cosmetology-services .first-block-cosmetology,
    .menu-cosmetology-services .second-block-cosmetology {
        padding: 0 20px;
    }
    .menu-cosmetology-services .second-block-cosmetology {
        margin-left: 0;
    }
}

/*
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!                                                                              !!!
!!!   НЕ ПИСАТИ СТИЛІ ЗА ЦИМ БЛОКОМ. ВСІ НОВІ СТИЛІ ПИСАТИ ПЕРЕД БЛОКОМ @media   !!!
!!!                                                                              !!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/