body {
    background-image: url("image/bg-body.jpg");
}
header {
    background: url("image/2.jpg");
    height: 400px;
    width: 100%;
    display: block;
}
.logo {
    text-align: center;
}
.logo h1 {
    display: inline-block;
    user-select: none;
    height: 300px;
    color: white;
    font-size: 172px;
    margin: 0;
    text-align: center;
    font-family: 'Stencil', arial;
    font-weight: 100;
    line-height: 0.7em;
    padding-top: 25px;
    background-image: url(https://media.giphy.com/media/l0MYwXxKiwW39Dwcw/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
}
.logo a {
    text-decoration: none;
}

/* menu */
.cherif-menu {
    background-color: rgba(0, 0, 0, 0.7);
}
.cherif-menu .cherif-ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Stencil', arial;
    word-spacing: 30px;
}
.cherif-menu .cherif-ul .cherif-li a {
    display: flex;
    height: 95px;
    color: white;
    text-decoration: none;
    font-size: 30px;
    list-style: none;
    font-family: 'Russo One', sans-serif;
}
.cherif-menu a {
    padding: 24px 10px;
}
.cherif-menu .cherif-ul .cherif-li a:hover {
    transition: 0.5s;
    border-bottom: 5px solid #195E01;
}
*, 
*:before, 
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.date {
    color: white;
}
.slider img {
    width: 80%;
   height: 900px;
}
.row {   
    margin: 0 !important; 
}
.menu, 
.sub-menu {
    list-style: none;
    position: absolute;
}
.list {
    background-color: black;
    opacity: 1;
    color: white;
    margin-bottom: 3px; 
    padding: 20px 50px;
    line-height: 30px;
    text-align: center;
    font-family: 'Cookie', cursive;
    font-size: 20px;
}
.list:hover{
    background-color: #289404;   
}
.list li {
    background-color: white;
    color: black;
    margin-bottom: 3px;
    padding: 20px 50px;
}
.list li:hover {
   color: white;
   background-color: black;
}
.sub-menu {
    display: none;
    left: 100%;
    margin-top: -35px;
}
.list:hover .sub-menu {
    display: block;
}
.list .color-brows .level2,
.list .list .level2 {
    display: none;
}
.color-brows:hover .level2,
.list .list:hover .level2 {
    display: block;
}
.menu {
    display: none;
    z-index: 10;
    box-sizing: content-box;
}
.menu li {
    white-space: nowrap;
    height: 30px;
}
ul .menu {
word-spacing: 0;
}
.cherif-li:hover .menu {
    display: block;
}
li {
    padding: 5px 15px !important;
}

/* learning*/
.learning {
    background-color: #0f0f0f;
    color: white;
}
.all-info-learn {
    text-align: center;
}
.all-info-learn li {
    list-style: none;
    font-style: italic;
    text-align: justify;
}
.header-info-learn {
  padding: 20px 0; 
  font-family: 'Cookie', cursive;
}
.info-learn {
    display: flex;
    flex-wrap: wrap;
}
.all-info-learn li::before {
    content: '✔';
    width: 20px;
    display: inline-block;
    color: #279E00;
}
.info-two li {
    text-align: center;
}
.info-three li {
    text-align: center;
}
.info-four li {
    text-align: center;
}
.font-info {
    color: #289404;
    font-family: 'Cookie', cursive;
    font-size: 20px;
}
.small-slide img{
    width: 100px;
    height: 100px;
}
.info-learn > div {
    flex: 1 0 300px;
}
.list-cosmetology {
    display: flex;
}
.first-line-cosmetology {
    display: flex;
    flex-wrap: wrap;
}
.first-line-cosmetology > div, 
.second-line-cosmetology > div {
    flex: 1 0 300px;
}
.all-learn-cosmetology li {
    list-style: none;
    font-style: italic;
    text-align: justify;
}
.all-learn-cosmetology li::before {
    content: '●';
    width: 20px;
    display: inline-block;
    color: #279E00;
}
.all-learn-cosmetology .font-info::before{
    content: '►';
    width: 20px;
    display: inline-block;
    color: #279E00;
}
.second-line-cosmetology {
    display: flex;
    flex-wrap: wrap;
}
.header-cosmetology {
    text-align: center;
    padding: 30px 0 20px 0 ;
    font-family: 'Cookie', cursive;
}

/* button */
.btn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.btn input {
    font-family: 'Cookie', cursive;
    font-size: 20px;
    border: 1px solid white;
    color: white;
    background-color: #0f0f0f;
    padding: 20px;
    margin: 20px 0;
}

/*footer*/
.block {
    font-size: 25px;
    padding: 10px 0;
}
.contact-footer {
    color: white;
    padding: 30px 0;
    font-family: 'Cookie', cursive;
}
.contact-footer img{
    height: 30px;
    width: 30px;
    float: left;
    margin: 0 10px;
}
.contact-footer a {
    color: white;
    text-decoration: none; 
    white-space: nowrap; 
}
.header-contact-footer{
    text-align: center;
    padding-bottom: 20px;
}
.row-contact-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.row-style-header{
    text-align: center;
    font-size: 25px;
}
.number-phone {
    margin: 0 50px;
}
.social-networks {
    margin: 0 50px;
}
.social-networks p {
    font-size: 30px;
}
.adress {
    margin: 0 50px;
}
.adress p {
    font-size: 20px;
}